<form method="post" action="/merchants">
<br>
<h1 class = "h1"> Add New Merchant</h1>
<br>
<br>
<div class = "h1_add">
 <label for="name"> Name :</label>
 <input id="name" type="text" name="name"/>

<input value="Add Merchant"/ type='image' src=  "/add-button.png" height = "20" width = "20">
</div>
</form>
