<!DOCTYPE html>
<html>
<head>
  <title>Spending Tracker</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
<main>
<img id ="pic" src="SpendiesLogoTwo.png" height = "150" width = "600"/>
  <nav class="navbar">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/transactions/current_month">This Month</a></li>
      <li><a href="/tags">Budget</a></li>
      <li><a href="/transactions">Transactions</a></li>
      <li><a href="/merchants">Merchants</a></li>
      <li class = "CTA"><a href="/transactions/new">Add Spend</a></li>
      <!-- <li><a href="/transactions/selected_month">Selected Month Transactions</a></ul> -->
    </ul>
  </nav>
  <section id="content">
  <%= yield %>
  </section>
  </main>
</body>
</html>
