<!DOCTYPE html>
<html>
<head>
  <title>Spending Tracker</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
<main>
  <nav>

    <a href="/">Dashboard</a>
    <a href="/transactions/new">New Transaction</a>
    <a href="/transactions">Transactions</a>
    <a href="/merchants/new">New Merchant</a>
    <a href="/merchants">Merchants</a>
    <a href="/tags/new">Tags</a>
<br>
<br>
<br>
  </nav>
  <section id="content">
  <%= yield %>
  </section>
  </main>
</body>
</html>
