<div class="h1"><h1>Edit "<%= @tag.title.capitalize %>" Budget</h1>
</div>
<div class="edit">
<form method="post" action="/tags/<%= @tag.id %>">

  <label for='tag-title'><strong>Category:</strong></label>
  <input
  id='tag-title'
  value='<%= @tag.title %>'
  type='text'
  name='title'/>

  <label
  for='budget'><strong>Budget:</strong></label>
  <input
  id='budget'
  value='<%= @tag.budget %>'
  type='number'
  name='budget'/>

  <input class="update_button" type='submit' role="button" value='Update'/>

  </div>
