<form method="post" action="/tags">


 <label for="title"> Title :</label>
 <input id="title" type="text" name="title"/>

 <label for="budget"> Budget : £</label>
 <input id="budget" type="number" name="budget"/>


<input type="submit" value="Add Tag"/>

</form>
