<h1>Transaction successfully added!</h1>
<br>
<br>
<br>
><h2>So far this month you've spent £<%= @transaction.amount() %> on <%= @transaction.tag.title() %> (thats o/s% of your budget) and you've spent £ at <%= @transaction.merchant.name() %> </h2>
