<form method="post" action="/transactions">
  <br>
  <h1 class = "h1"> Add New Transaction</h1>
  <br>
  <br>
<div class = "h1_add2">
 <label for="trans-date"> Date : </label>
 <input id="trans-date" type="date" name="trans_date"/ >

 <label for="merchant-select">Select a merchant :
 <select id="merchant-select" name="merchant_id">
   <% for merchant in @merchants %>
   <option value= "<%= merchant.id %>" > <%= merchant.name%> </option>
    <% end %>
 </select>
 </label>

 <label for="tag-select">Select a tag :
 <select id="tag-select" name="tag_id">
   <% for tag in @tags %>
   <option value= "<%= tag.id %>" > <%= tag.title%> </option>
    <% end %>
 </select>
 </label>

 <label for="amount">Amount : £</label>
 <input id="amount" type="float" name="amount"/>

<input value="Add Transaction"/ type='image' src=  "add-button.png" height = "20" width = "20">
</div>
</form>
